export(as.rds.data.frame)
export(assert.valid.rds.data.frame)
export(bottleneck.plot)
export(compute.weights)
export(convergence.plot)
export(count.transitions)
export(differential.activity.estimates)
export(get.h.hat)
export(get.id)
export(get.net.size)
export(get.population.size)
export(get.rid)
export(get.seed.id)
export(get.seed.rid)
export(get.stationary.distribution)
export(get.wave)
export(gile.ss.weights)
export(homophily.estimates)
export(is.rds.data.frame)
export(RDS.bootstrap.intervals)
export(RDS.compare.proportions)
export(RDS.I.estimates)
export(rds.I.weights)
export(RDS.II.estimates)
export(RDS.SS.estimates)
export(read.rdsat)
export(read.rdsobj)
export(rds.interval.estimate)
export(reingold.tilford.plot)
export(rid.from.coupons)
export(show.rds.data.frame)
export(transition.counts.to.Markov.mle)
export(vh.weights)
export(write.graphviz)
export(write.netdraw)
export(write.rdsobj)
import(ggplot2)
import(gridExtra)
import(methods)
import(reshape2)
import(scales)
S3method(plot,rds.data.frame)
S3method(print,differential.activity.estimate)
S3method(print,pvalue.table)
S3method(print,rds.data.frame)
S3method(print,rds.interval.estimate)
useDynLib(RDS)
